#nvitemd
service nvitemd_td /system/vendor/bin/nvitemd t 0
    class core
    user system
    disabled
    group system radio shell
    oneshot

service nvitemd_w /system/vendor/bin/nvitemd w 0
    class core
    user system
    group system radio shell
    disabled
    oneshot

service nvitemd_l /system/vendor/bin/nvitemd l 0
    class core
    user system
    group system radio shell
    disabled
    oneshot
